<div class="container">
    <div class="row">
        <div class="col-md-12">
        
            <h2>Add Department</h2>

            <br />
        
            <form method="post" action="/departments/add">
                <input class="form-control" type="text" name="departmentName" label="Department Name">
                <input type="submit" class="btn btn-primary pull-right" value="Add Department" /><br /><br /><br />
            </form>
        </div>
    </div>
</div>