<div class="row">
    <div class="col-md-12">
        <h2>Departments</h2>
        <hr>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><b>Department Number</b></td>
                    <td><b>Department Name</b></td>
                </tr>
                {{#each departments}}
                    <tr>
                        <td><a href="/employees?department={{departmentNum}}">{{departmentNum}}</a></td>
                        <td><a href="/employees?department={{departmentNum}}">{{departmentName}}</a></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>