<div class="row">
    <div class="col-md-12">
        <h2>{{department.departmentName}} - Department: {{department.departmentId}}</h2>
        <hr />
        <form method="post" action="/departments/update">
            <input type="hidden" name="departmentId" value={{department.departmentId}}>
            <label>Department Name:</label>
            <input class="form-control" type="text" name = "departmentName" value="{{department.departmentName}}"><br>
            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>