<div class="row">
    <div class="col-md-12">
        <h2>Departments</h2>
        <hr>
        {{#each departments}}
            <p>{{departmentId}} {{departmentName}}</p>
        {{/each}}
    </div>
</div>