<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <hr />
        <p>TODO: refer to week 6 notes/example code, 
        render a list of all employee first and last names here</p>
    </div>
</div>