<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <hr />
        <div class="table-responsive">
            <table>
                {{#each employees}}
                    <p>{{firstName}} {{lastName}}</p>
                {{/each}}
            </table>
        </div>
    </div>
</div>