<div class="row">
<div class="col-md-12">
 <h2>Images</h2>
 <hr />
 </div> 
 <div class="col-md-4">
    <img src="../public/images/uploaded/1667500164454.PNG" class="img-responsive img-thumbnail"/>
 </div>
</div>